<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>beaware</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css" media="screen,projection"/>

    <link type="text/css" rel="stylesheet" href="../css/main.css" media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <div class="container">
            <a href="/" class="brand-logo">
                <img src="../images/logo.png" height="30" width="50" alt="">
            </a>
            <ul class="right">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About us</a></li>
            </ul>
        </div>

    </div>
</nav>

<div class="main container center-align">
    <div class="row">
        <h2>SHOPPING CART DATA</h2>
        <div id="info" class="row main">
            <div class="row">
                <ul class="collection"></ul>
            </div>

        </div>
    </div>
    <div id="sum" class="row">

    </div>
    <div class="row">
        <a id="buy" class="btn waves-effect waves-light">buy
            <i class="material-icons right">call_to_action</i></a>
        <a id="delete-all" class="btn waves-effect waves-light">delete all
            <i class="material-icons right">clear</i></a>
    </div>
</div>

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="../js/materialize.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="../js/request.js"></script>
<script type="text/javascript" src="../js/cart.js"></script>
</body>
</html>