<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flower-shop</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css" media="screen,projection"/>

    <link type="text/css" rel="stylesheet" href="../css/main.css" media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <div class="container">
            <a href="/" class="brand-logo">
                <img src="../images/logo.png" height="30" width="50" alt="">
            </a>
            <ul class="right">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About us</a></li>
            </ul>
        </div>

    </div>
</nav>

<div class="main container center-align">
    <div class="row">
        <h2>FLOWER DATA</h2>
        <div id="info" class="row main">
            <div class="row">
                <div class="col s12">
                    <img id="photo">
                </div>
            </div>

        </div>
        <div class="row main">
            <a href="/edit-flower" class="btn waves-effect waves-light">edit
                <i class="material-icons right">border_color</i></a>
            <a id="delete-flower" class="btn waves-effect waves-light">delete
                <i class="material-icons right">clear</i></a>
        </div>
        <div class="row center-align">
            <h1>COMMENTS</h1>
        </div>
        <div class="row">
            <ul class="collection"></ul>
        </div>
        <div class="row main">
            <div class="container">
                <h2 class="center-align">NEW COMMENT</h2>
                <form class="col12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea id="icon_prefix2" class="message materialize-textarea"></textarea>
                            <label for="icon_prefix2">comment</label>
                        </div>
                    </div>
                    <div class="center-align">
                        <button type="button" id="newMessage" class="btn waves-effect waves-light">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="../js/materialize.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="../js/request.js"></script>
<script type="text/javascript" src="../js/flower.js"></script>
</body>
</html>