.main {
    margin-top: 100px;
}
.registration {
    width: 40%;
}
#registration {
    margin-top: 30px;
}
.cards {
    margin-top: 100px;
}
.card {
    margin-right: 20px;
}
.top30 {
    margin-top: 30px;
}